.kfc-map .logo {
    height: auto;
    padding-bottom: 0;
}
.kfc-map .primary {
    margin: 0;
}
.kfc-map .searchbox input {
    width: 150px;
    background: #F5F5F5 url(../../img/mobile/ico_search.png) no-repeat scroll 97% 65%;
    background-size: 10%;
    padding: 0.5em 2em 0.5em 0.5em;
}
.kfc-map .top-content {
    padding-bottom: 12px;
}
.top-content__toolbar {
    top: 20px;
    right: 20px;
    position: absolute;
}
.basket {
    position: absolute;
    top: 18px;
    right: 90px;
}
.basket span {
    display: block;
    width: 31px;
    height: 40px;
    background: url("../../img/mobile/ico-basket.png") no-repeat center/contain;
}
.menu-toggle {
    position: relative;
    font-size: 0;
    text-decoration: none;
    border: 2px solid #FFF;
    border-radius: 7px;
    color: #c4122e;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 1px #FFF;
    background: transparent linear-gradient(to bottom, #FAFAFA 0%, #ECECEC 100%) repeat scroll 0 0;
    cursor: pointer;
    width: 34px;
    height: 34px;
    display: block;
}
.menu-toggle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background-image: url(../../img/mobile/sprite_menu.png);
}
.menu-toggle.opened:before {
    background-position: -34px 0;
}

.kfc-map .title-container {
    padding: 0;
}

.kfc-map .title-container--b {
    margin-bottom: 20px;
    background: none;
}

.tab {
    margin-bottom: 20px;
    font: normal 0/1 'OfficinaSerifBlackOSC', Arial, sans-serif;
    text-align: center;
    background: url("../../img/mobile/product_item_sep.png") no-repeat center top;
    background-size: contain;
    width: 100vw;
}
.tab__item a {
    padding: 10px 20px;
    color: #231f20;
    text-decoration: none;
    border-radius: 0 0 9px 9px;
    background: #d1ceca;
    border: 2px solid #fff;
    border-top: 0;
    display: block;
    font-size: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,.3)
}
.tab__item {
    margin: 0 1px;
    display: inline-block;
}
.tab__item.active a {
    color: #c4122e;
    background: #ffffff;
}

.map-container {
    position: fixed;
    top: 141px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.map-container.horizontal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}
.map-container__header {
    position: relative;
    z-index: 1;
}
.map-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bottom-bar {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.bottom-bar--b {
    background: #f8f5ef;
}

.nav-bar {
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.nav-bar__item {
    display: inline-block;
    vertical-align: middle;
}
.nav-bar__item {
    border-radius: 100%;
    width: 34px;
    height: 34px;
    /*background: rgba(255,255,255,.75);*/
    background: rgba(0,0,0,.1);
    font-size: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,.4)

}
.nav-bar__item.active {
    background: rgba(255,255,255,1);
}

.nav-bar__item a {
    display: block;
    width: 34px;
    height: 34px;
    background-image: url(../../img/mobile/sprite_amenities_02.png);
}
.i-route-02 { background-position: -2px -2px; }
.active .i-route-02 { background-position: -2px -36px; }

.i-promo-02 { background-position: -70px -2px; }
.active .i-promo-02 { background-position: -70px -36px; }

.i-delivery-02 { background-position: -273px -2px; }
.active .i-delivery-02 { background-position: -273px -36px; }

.i-schedule-02 { background-position: -104px -2px; }
.active .i-schedule-02 { background-position: -104px -36px; }

.i-breakfast-02 { background-position: -206px -2px; }
.active .i-breakfast-02 { background-position: -206px -36px; }

.i-wifi-02 { background-position: -35px -2px; }
.active .i-wifi-02 { background-position: -35px -36px; }

.i-excursion-02 { background-position: -240px -2px; }
.active .i-excursion-02 { background-position: -240px -36px; }

.i-takeaway-02 { background-position: -341px -2px; }
.active .i-takeaway-02 { background-position: -341px -36px; }

.i-box-02 { background-position: -307px -2px; }
.active .i-box-02 { background-position: -307px -36px; }

.i-direct-02 { background-position: -138px -2px; }
.active .i-direct-02 { background-position: -138px -36px; }

.i-kitchentour-02 { background-position: -172px -2px; }
.active .i-kitchentour-02 { background-position: -172px -36px; }

.metro-line {
    display: inline-block;
    vertical-align: middle;
}
.metro-line__label {
    margin: 0 0 0 0;
    width: 34px;
    height: 34px;
    display: inline-block;
    vertical-align: middle;
    color: #949290;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 34px;
}
.active .metro-line__label {
    color: #fff;
    background: #14ab00;
}
.metro-line .input-cell {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.metro-line select.styled-select.txt {
    padding: 0 5px;
    border: none;
    font: 14px Arial, sans-serif;
    color: #888888;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: underline;
}
.metro-line select:focus {
    outline: none;
}

.modal-menu {
    display: none;
}

.modal-menu.opened {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: auto;
    background: #fff;
}

.map-bubble {
    padding: 15px;
    margin: 50px 10vw;
    width: 80vw;
    height: 75%;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-sizing: border-box;
    display:none;

}
.map-bubble.restaurant-info {
    position: absolute;
    top: 0;
}

.map-bubble.restaurant-info span.map-toggle {
    position: relative;
    display: block;
    cursor: pointer;
}

.map-bubble.restaurant-info span.map-toggle:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 90%;
    width: 34px;
    height: 34px;
    background-image: url("../../img/mobile/sprite_menu.png");
    background-position: -34px 0;
}

.map-bubble.restaurant-info h4 {
    margin-bottom: 10px;
}

.map-bubble.restaurant-info .btn-light {
    margin: 3px;
    font-size: 12px;
}

.restaurant-info {
    font-size: 14px;
    position: relative;
}
.restaurant-info--b {
    margin: 0 0 20px;
    padding-bottom: 10px;
    background: transparent url("../../img/mobile/hr_decor.png") no-repeat center bottom;
    background-size: contain;
}
.restaurant-info .btn-light {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.restaurant-info h4 {
    font: normal 20px/1 'OfficinaSerifBlackOSC', Arial, sans-serif;
    color: #C4122E;
}
.restaurant-info p {
    margin: 0 0 10px;
}
.restaurant-info .highlight {
    color: #C4122E;
}

.restaurant-info .highlight a {
    color: #C4122E;
}
.restaurant-info__inner {
}

.opened .restaurant-info__inner {

}
.restaurant-info__footer {
    text-align: center;
}

.show-restaurant-info {
    font-size: 0;
    position: absolute;
    top: 5px;
    right: 10px;
}

.show-restaurant-info:after {
    content: "";
    background: url("../../img/mobile/darrow_02.png") no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 0;
    right: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.opened .show-restaurant-info:after {
    transform: rotate(180deg);
}


.ui-amenities {
    margin: 0 0 10px;
}
.ui-amenities li {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
}
.ui-amenities li span {
    font-size: 0;
    display: block;
    width: 26px;
    height: 24px;
    background-image: url(../../img/mobile/sprite_amenities_02.png);
}
.ui-amenities .i-route-02 { background-position: -6px -41px; }
.ui-amenities .i-wifi-02 { background-position: -40px -41px; }
.ui-amenities .i-delivery-02 { background-position: -278px -41px; }
.ui-amenities .i-schedule-02 { background-position: -108px -41px; }
.ui-amenities .i-excursion-02 { background-position: -245px -41px; }
.ui-amenities .i-breakfast-02 { background-position: -210px -41px; }
.ui-amenities .i-box-02 { background-position: -313px -41px; }
.ui-amenities .i-takeaway-02 { background-position: -346px -41px; }
.ui-amenities .i-direct-02 { background-position: -142px -41px; }
.ui-amenities .i-kitchentour-02 { background-position: -177px -41px; }

.main-content {
    padding: 0 0 50px;
    background: #f2eee8;
}

.btn-light.btn-light--b {
    min-width: 70px;
    white-space: normal;
    text-align: center;
    font-size: 0.8em;
    margin: 2px 2px;
    padding: .2em .2em;
}

.ui-widget.ui-autocomplete {
    font-family: Verdana, Arial, sans-serif !important;
    font-size: 11px !important;
}

.restaurants-list-block {
    padding: 0 20px;
}

.map-loader {
    background-image: url(../../img/mobile/map-loading.gif);
    z-index: 999;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 45%;
    left: 45%;

}